.section-one {
    background-color: black;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
}

.section-two {
    width: 250px;
    height: 400px;
    margin-left: 225px;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: top;


}

.section-one__heading {
    color: gray;
}

.section-two__title {
    font-size: 20px;
    padding: 0px;
    line-height: 3px;
}

.section-two__desc {
    font-size: 17px;
    line-height: 3px;
}

.section-two__order {
    background-color: black;
    color: white;
    height: 32px;
    line-height: 20px;
}

.section-three__order {
    background-color: black;
    color: white;
    height: 32px;
}

.section-four__order {
    background-color: black;
    color: white;
    height: 32px;
}

.section-five__order {
    background-color: black;
    color: white;
    height: 32px;
}



.section-three {
    width: 250px;
    height: 400px;
    margin-left: 5px;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

}

.section-four {
    width: 250px;
    height: 400px;
    margin-left: 5px;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

}

.section-five {
    width: 250px;
    height: 400px;
    margin-left: 5px;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

}

.section-six {
    background-color: black;
    display: block;
    color: white;
    text-align: center;
    height: 170px;
    padding-top: 10px;
    margin-top: 10px;


}

.section-six__button {
    background-color: yellow;
    width: 400px;
    padding-bottom: 20px;
    height: 25px;
}

.section-three__title {
    font-size: 20px;
    padding: 0px;
    line-height: 3px;
}

.section-three__desc {
    font-size: 17px;
    line-height: 3px;
}

.section-four__title {
    font-size: 20px;
    padding: 0px;
    line-height: 3px;
}

.section-four__desc {
    font-size: 17px;
    line-height: 3px;
}

.section-five__title {
    font-size: 20px;
    padding: 0px;
    line-height: 3px;
}

.section-five__desc {
    font-size: 17px;
    line-height: 3px;
}

.section-six__heading {
    line-height: 3px;
    padding-bottom: 1px;
}

.section-six__values {
    padding-top: 0px;
}